.site-nav {
    margin-bottom: 20px;
}

.test_nav{
  position: sticky;
  z-index: 1;
  width: 100%;
  position: -webkit-sticky;
  background-color: #FFFFFF;  
  position: sticky;
  padding: 3px;
  top: 3.8rem;
  border-radius: 10px 10px;
 }


 .main-header{
  position: sticky;
  z-index: 1;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
 }

.theory {
  border: 3px #8366B3;
  background-color: #F0F8FF;    
  border-radius: 40px 15px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 5px 5px #ACE5EE;
}

.lo {
  border: 3px;
  background-color:#d8ffd8;    
  border-radius: 40px 15px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 5px 5px #9CBA7F;
}

.subtheory {
  border: 3px #FCE883;
  background-color:	#FFF8DC;    
  border-radius: 40px 15px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 5px 5px #FCE883;
}

.ques {
  border: 3px outset #8366B3;
  background-color: #fbeeff;    
  border-radius: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.ans {
  border-left: 5px outset #8366B3;
  background-color: #FFFFE0;   
  display: none; 
  padding-left: 5px;
}


