<head>

  <!-- Customize the Scrollbar -->
  <style>
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #9a83a5;
      border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #955fc7;
    }
  </style>

  <!-- Add Copy to Clipboard functionality using Clipboard.js -->

  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

  <!-- Add JQuery to Code -->
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/createWaterBall-jquery.js"></script>

  <!-- Add DataCamp Compiler to Website-->
  <script async src="https://cdn.datacamp.com/dcl-react.js.gz"></script>



<!-- Start of Async Callbell Code -->
<script>
  window.callbellSettings = {
    token: "g5WYNoSLgDLqjpaxjwCDbSsq"
  };
</script>
<script>
  (function(){var w=window;var ic=w.callbell;if(typeof ic==="function"){ic('reattach_activator');ic('update',callbellSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Callbell=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://dash.callbell.eu/include/'+window.callbellSettings.token+'.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>
<!-- End of Async Callbell Code -->



<script type="text/javascript">(function() {var script=document.createElement("script");script.type="text/javascript";script.async =true;script.src="//telegram.im/widget-button/index.php?id=@FRM_I";document.getElementsByTagName("head")[0].appendChild(script);})();</script>


</head>
