<head>
  <script src="/assets/reveal/dist/reveal.js"></script>
  <script src="/assets/reveal/plugin/notes/notes.js"></script>
  <script src="/assets/reveal/plugin/markdown/markdown.js"></script>
  <script src="/assets/reveal/plugin/highlight/highlight.js"></script>

  <link rel="stylesheet" href="/assets/reveal/dist/reset.css" />
  <link rel="stylesheet" href="/assets/reveal/dist/reveal.css" />
  <link
    rel="stylesheet"
    href="/assets/reveal/dist/theme/black.css"
    id="theme"
  />

  <!-- Theme used for syntax highlighted code -->
  <link
    rel="stylesheet"
    href="/assets/reveal/plugin/highlight/monokai.css"
    id="highlight-theme"
  />
</head>
